body{
    background-color: gainsboro;
    width: 100%;
    margin: 0;
}

header{
    background-color: beige;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.nav{
    height: 100%;
    width: 60px;
}

.nav:hover{
    background-color: lightslategrey;
    cursor: pointer;
}

.navMenu{
    background-color: beige;
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    transition: 0.4s;
}

.close{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    font-size: 50px;
}

.close:hover{
    background-color: lightslategrey;
    cursor: pointer;
}

.fa-bars{
    font-size: 50px;
    position: absolute;
    top: 5px;
    left: 7px;
}

.field{
    width: 100%;
    height: 100%;
    position: absolute;
}

.ball{
    height: 5.5em;
    width: 5.5em;
    background: radial-gradient(circle at 2em 2em, indianred, black);
    position: absolute;
    border-radius: 3em;
    margin-top: 40px;
    transition: 0.6s;
}

.d-pad{
    height: 7.5em;
    width: 7.5em;
    position: absolute;
    top: 60px;
    right: 10%;
    margin-top: 40px;
}

.button{
    width: 2.5em;
    height: 2.5em;
    background-color: #404040;
    position: absolute;
}

.button:hover{
    background-color: #272727;
    cursor: pointer;
}


.up{
    border-radius: 0.5em 0.5em 0 0;
    top: 0;
    left: 2.5em;
}
.right{
    border-radius: 0 0.5em 0.5em 0;
    top: 2.5em;
    right: 0;
}
.down{
    border-radius: 0 0 0.5em 0.5em;
    bottom: 0;
    left: 2.5em;
}
.left{
    border-radius: 0.5em 0 0 0.5em;
    top: 2.5em;
    left: 0;
}
.mid{
    top: 2.5em;
    left: 2.5em;
    box-shadow: 0 0 10px -5px dimgray inset;
}